.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

body {
  font-family: "montserrat", "Times New Roman", Times, serif;
  font-variant: normal;
  font-size: medium;
}
h1 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
}
h2 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
}
p {
  font-family: "montserrat", "Times New Roman", Times, serif, arial;
}
